<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.thumb_up').click(function() {
        $.ajax({
          type: "PUT",
          url: '/rate_up/' + $(this).data('id'),
          success: function(data) {
            
          },
          error: function(data) {
            console.log(data.message);
          }
        });
      });

      $('div.thumb_down').click(function() {
        $.ajax({
          type: "PUT",
          url: '/rate_down/' + $(this).data('id'),
          success: function(data) {
            
          },
          error: function(data) {
            console.log(data.message);
          }
        });
      });

  	  $('.share').click(function() {
        $.ajax({
          type: "POST",
          url: '/share-to/friends',
          data: {'content_id': $(this).data('id'), 'internal': 1},
          success: function(data) {

          },
          error: function(data) {
            console.log(data.message);
          }
        });
      });

      var scroll_loading = false;

      $(window).scroll(function() {
        if ($(document).height() > $(window).scrollTop() + $(window).height() - 100) {
          if (scroll_loading) {
            console.log('loading');
            return;
          } else
            scroll_loading = true;

          console.log('start ajax');

          console.log('require ' + $($('.video-container').last()[0]).data('videodate'));

          $.ajax({
            type: "GET",
            url: '<%= @current_action == 'index_me' ? '/me' : '/friends' %>',
            data: {'before': $($('.video-container').last()[0]).data('videodate')},
            success: function(data) {
              console.log('end ajax');
              if (data != undefined && data != "") {
                scroll_loading = false;
                
                $(data).insertAfter($($('.video-container').last()[0]).parent())

              }
            }
          })
        }
      });
    });
  </script>
<% end %>

<% content_for :css do %>
  
<% end %>

<% @videos.each do |video| %>
  <% next if not ['youtube', 'dailymotion', 'vimeo'].include? video.source %>

  <div class="row-fluid">
    <div class="span12 video-container" data-videodate="<%= video.post_date.getutc.to_i %>">
      <% case video.source %>
      <% when "youtube" %>
        <iframe class="video" id= "<%= video.id %>" type="text/html" width="640" height="390" src="<%= video.url %>?modestbranding=1&controls=0&showinfo=0&wmode=transparent" frameborder="0"/>
        </iframe>
      <% when "vimeo" %>
        <iframe class="video" src="<%= video.url %>?title=0&byline=0&portrait=0&wmode=transparent" width="640" height="390" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
        </iframe>
      <% when "dailymotion" %>
        <iframe class="video" src="<%= video.url %>?info=0&logo=0&wmode=transparent" width="640" height="390" frameborder="0">
        </iframe>
      <% end %>

      <div class="row">
        <div class="thumb_up" data-id="<%= video.id %>" style="float:left"><IMG SRC="/images/thumb_up.png" ALT="image"></a></div>
        <div class="thumb_down" data-id="<%= video.id %>" style="float:left"><IMG SRC="/images/thumb_down.png" ALT="image"></div>
        <div class="share" data-id="<%= video.id %>" style="float:left"><IMG SRC="/images/share_button.png" ALT="image"></div>
      </div>
      <!--TODO in CSS: Make the buttons div clickable with cursor:pointer -->
    </div>
  </div>
<% end %>