<ul>
  <% @videos.each do |video| %>

  <% case video.source %>
    <% when "youtube"%>  
	  <iframe id= "<%= video.id %>" type="text/html" width="640" height="390"
	    src="<%= video.url %>?modestbranding=1&controls=0&showinfo=0&wmode=transparent"
	    frameborder="0"/>
	  </iframe>
    <% when "vimeo"%>
      <iframe src="<%= video.url %>?title=0&byline=0&portrait=0&wmode=transparent" width="640" height="390" 
		frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
	  </iframe>
	<% when "dailymotion"%>
	  <iframe src="<%= video.url %>?info=0&logo=0&wmode=transparent" width="640" height="390"
	    frameborder="0">
	  </iframe>
    <% end %>

    <div class="thumb_up" id="thumb_up_<%= video.id %>"><IMG SRC="/images/thumb_up.png" ALT="image"></a></div>
	<div class="thumb_down" id="thumb_down_<%= video.id %>"><IMG SRC="/images/thumb_down.png" ALT="image"></div>
	<div class="share" id="share_<%= video.id %>"><IMG SRC="/images/share_button.png" ALT="image"></div>	
  <!--TODO in CSS: Make the buttons div clickable with cursor:pointer -->

  <% end %>

</ul>
<% content_for :javascript do %>
<script type="text/javascript">
	$(document).ready(function() {
		<% @videos.each do |video| %>
	  		$('#thumb_up_<%= video.id %>').click(function() {
				$.ajax({
					type: "PUT",
					url: 'http://localhost:3000/rate_up/<%= video.id %>',
					data: null,
					success: function(data) {
						
					},
					error: function(data) {
						console.log(data.message);
					}
				});
			});
			$('#thumb_down_<%= video.id %>').click(function() {
				$.ajax({
					type: "PUT",
					url: 'http://localhost:3000/rate_down/<%= video.id %>',
					data: null,
					success: function(data) {
						
					},
					error: function(data) {
						console.log(data.message);
					}
				});
			});
		<% end %>
	});
</script>
<% end %>


