<!DOCTYPE html>
<html>
  <head>
    <title>videoList</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>
    <%= yield :css %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to "videoList", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Help",    '#' %></li>
              <% if user_signed_in? %>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= render 'shared/flash_messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
