<!DOCTYPE html>
<html>
  <head>
    <title>Vids4.me</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>
    <%= yield :css %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Vids4.me", '/', id: "logo" %>
            <nav>
              <ul class="nav pull-left">
                <% if request.env['PATH_INFO'] == '/me' %>
                  <li id="me_tab" class="active"><%= link_to "Me",      '/me' %></li>
                  <li id="friends_tab"><%= link_to "Friends", '/friends' %></li>
                <% elsif request.env['PATH_INFO'] == '/friends' %>
                  <li id="me_tab"><%= link_to "Me",      '/me' %></li>
                  <li id="friends_tab" class="active"><%= link_to "Friends", '/friends' %></li>
                <% else %>
                  <li id="me_tab"><%= link_to "Me", '/me' %></li>
                  <li id="friends_tab"><%= link_to "Friends", '/friends' %></li>
                <% end %>
              </ul>
              <ul class="nav pull-right">
                <% if user_signed_in? %>
                  <li><%= button_to('Sign out', destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-warning') %></li>
                <% else %>
                  <li><%= button_to('Sign in with FB', user_omniauth_authorize_path(:facebook), :class => 'btn btn-large btn-primary')%></li>
                <% end %>
              </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="span12">
          <%= render 'shared/flash_messages' %>
          <%= yield %>
        </div>
      </div>
       <footer>
        <p>&copy; French Foreign Legion</p>
      </footer>
    </div>
  </body>
</html>
