<!DOCTYPE html>
<html>
  <head>
    <title>videoList</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId : <%= Rails.configuration.app_config['facebook']['app_id'] %>,
            status     : true, 
            cookie     : true,
            xfbml      : true,
            oauth      : true,
          });
        };

        var publishPost = function(url) {
            var publish = {
              method: 'stream.publish',
              message: 'has shared a link via videoList !',
              picture : '',
              link : url,
              name: '',
              caption: '',
              description: '',
              actions : { name : 'videoLink', link : 'http://blazing-sunset-2499.herokuapp.com/'}
            };

            FB.api('/me/feed', 'POST', publish, function(response) {  
              if (!response || response.error) {
                  console.log(response.error.message);
                  $('#notification').text(response.error.message).show();
                  $('#loading_post_fb').hide();
              }
              else {
                console.log(response);
                $('#loading_post_fb').hide();
                $('#notification').text('success').show();
              }
            });
          };

        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document));

        $(document).ready(function() {
          var url = $('#url').text();
          $('#post_fb').click(function() {
            $('#loading_post_fb').show();
            publishPost(url);
          });
        });
      </script>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
  </body>
</html>
