<!DOCTYPE html>
<html>
  <head>
    <title>videoList</title>
    <%= stylesheet_link_tag "form", media: "all" %>
    <%= javascript_include_tag "form" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
  </body>
</html>
